<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

        <bean id = "greedy" class = "Greedy">
                <constructor-arg ref = "currencyChoice"/>
        </bean>

        <bean id = "currencyChoice" class = "CurrencyChoice">
                <constructor-arg ref = "dollar"/>
                <constructor-arg ref = "euro"/>
        </bean>

        <bean id = "dollar" class = "DollarCurrency">

        </bean>



        <bean id = "euro" class="EuroCurrency">
        </bean>

</beans>
